.background{
    background: url('../assets/background/home.png');
    background-size: cover;
    background-attachment: fixed;
}

/* home */
.home .container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
  
.home .col-md-16 h1, 
.home .col-md-16 p{
    color: rgb(255, 255, 255);
    font-family: "maoken";
}
.home .col-md-16 h1{
    text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}
/* intro */
.intro .container {
    min-height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(65, 65, 65, 0.5);
    color: rgb(255, 255, 255);
    text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}
.intro h1{
    font-family: "Zen Maru Gothic", serif;
    font-size: 76px;
    padding-bottom: 20px;
}
.intro p{
    font-family: "noto sans";
    font-size: 24px;
    padding: 5px;
}
/* theme */
.theme .container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.theme .col-md-16{
    display: flex;
}
.theme .col-md-16 video{
    width: 650px;
    height: 370px;
    margin-right: 50px;
}
.theme .text-container{
    font-family: 'noto-sans';
    font-weight: 500;
    height: 370px;
}
.theme .text-container h1{
    font-size: 40px;
}
.theme .text-container p{
    font-size: 20px;
    margin-top: 30px;
}
/* recommend */
.recommend .container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "noto sans";
}

.recommend h1{
    color: rgb(255, 255, 255);
    text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    font-size: 54px;
    padding: 5px;
}

.recommend .col-md-16{
    display: flex;
    align-items: center;
    margin: 5px 0px 0px 0px;
}
.recommend .video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recommend video{
    width: 320px;
    height: auto;
}
.recommend .video{
    margin: 0px 20px 0px 20px;
    padding-top: 10px;
}

.recommend .title p{
    text-align: center;
    font-size: 28px;
    margin-bottom: 0px;
    color: white;
    text-shadow: 2px 0px 8px rgba(0, 0, 0, 0.5);
    width: 220px;
    border-radius: 10px;
}

.home-button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

video:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5),
                0 0 25px 10px rgba(255, 255, 255, 0.3),
                0 0 35px 15px rgba(255, 255, 255, 0.1);
}
